/* index */

.logo{
    height: 100px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
    text-align: center;
    margin: 5px;
}  

/* section */
.section__inicio{
    padding: 110px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: url(./galeria/fondo-home-section.jpg);
}









/* footer */
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;

}
.i-footer{
    color:#fff;
}
.footer-a{
    list-style: none;
    color: #fff;
    text-decoration: none;

}
.footer-a :hover{
    color: aqua;
}

.grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.grupo-2 small{
    font-size: 15px;
}



@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/*catalogo */

.productos{
    width: 280px;
    height: 280px;
    padding: 20px;
  
}
.productos{
    position: relative;
    left: 20px;
    transition: transform .2s; /* Animation */
    }
    .productos:hover {
    transform: scale(1.2);
    }


/* contacto */
.h2-contacto{
    text-align: center;
}
form{
    width: 450px;
    margin: auto;
    padding: 10px 20px;

}
.input-name{
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    
}

/* quienes somos */
.h1-quienes-somos{
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 25px;
        font-family: Roboto,sans-serif;
        color: #000;
        margin-bottom: 0
}
.p-texto{
        font-size: 16px;
        font-weight: 400;
        font-family: Roboto,sans-serif;
        color: #121212;
        line-height: 21px;
        margin-bottom: 0;

}