.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    .grupo-1{
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding: 45px 0px;
        .box figure{
            display: flex;
            align-items: center;
        }
    }
}

.box h2{
    color: $color-footer;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.box i{
    color:$color-footer;
}

.box a{
    list-style: none;
    color: $color-footer;
    text-decoration: none;
    .box a:hover{
        color: aqua;
    }

}
.grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: $color-footer;
    .grupo-2 small{
        font-size: 15px;
    }

}    
