.h1-quienes-somos{
    font-size: map-get($tamaño-tipografia , titulos );
    font-weight: 500;
    padding-bottom: 25px;
    font-family: $tipografia-general;
    color: $color-texto;
    margin: 20px;
}
.texto{
    font-size: map-get($tamaño-tipografia , parrafos );
    font-weight: 400;
    font-family: $tipografia-general;
    color: $color-texto;
    line-height: 21px;
}