.section__inicio{
    padding: 110px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: $color-texto;
    font-size: map-get($tamaño-tipografia, subtitulos);
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: url(../galeria/fondo-home-section.jpg);
}
.comprar{
    text-decoration: none;
    font-family: $tipografia-general;
    color: $color-texto;
    font-size:map-get($tamaño-tipografia , titulos);
}
.para-quien-compras{
    padding: 10px;
    margin: 10px;
}
.grid_fotos{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex-wrap: wrap;
    
    .grid_fotos div{
        position: relative;
        display: inline-block;
        text-align: center;
        padding-bottom: 20px;
        cursor: pointer;
    }
}
.grid_fotos div strong{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: $tipografia-general;
}   
.grid_fotos div img{
    height: 300px;
    
}
