/* primer section */
.section__inicio{
    padding: 110px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: $color-texto;
    font-size: map-get($tamaño-tipografia, subtitulos);
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: url(../galeria/fondo-home-section.jpg);
}
.comprar{
    text-decoration: none;
    font-family: $tipografia-general;
    color: $color-texto;
    font-size:map-get($tamaño-tipografia , titulos);
}
.para-quien-compras{
    padding: 10px;
    margin: 10px;
}
/* segundo section */
.index-productos{
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px black;
    text-align: center;
    margin: 5px;
    transition: transform .2s;
}
.index-h3{
    font-family: $tipografia-general;
    color: $color-texto;
    font-size:map-get($tamaño-tipografia , titulos);
}
/* tercer section */
.contenedor{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding-bottom: 20px;
    .sub-contenedor{
        position: relative;
        display: inline-block;
        text-align: center;
        .centrado{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $color-footer;
            font-family: $tipografia-general;
            text-decoration: none;
        }
    }   
}
.sub-contenedor img{
    height: 300px;
}

